.projItem,
.newProjectBtn {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    width: 100%;
}

.projItem:hover,
.newProjectBtn:hover {
    background-color: white;
    cursor: pointer;
}

.projItemLeft,
.projBtnLeft,
.todoItemCenter {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.projItemRight,
.modalHeader button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.projItemRight:hover,
.modalHeader button:hover {
    cursor: pointer;
    background-color: #e5e7eb;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

input {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.submitTodoModal,
.deleteTodo,
.editTodo {
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 10px;
}

.submitTodoModal:hover,
.deleteTodo:hover,
.editTodo:hover {
    cursor: pointer;
}

.todoFormModal,
.todoDetailsModal {
    width: 50%;
    border: none;
    border-radius: 10px;
}

.todoFormModal::backdrop,
.todoDetailsModal::backdrop {
    background-color: black;
    opacity: 0.75;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.todoForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.todoItem {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    gap: 5px;
}

.todoItem:hover {
    background-color: white;
    cursor: pointer;
}

.todoItem button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding-top: 4px;
}

.todoItem button:hover {
    background-color: #e5e7eb;
    cursor: pointer;
}

.todoDetails {
    display: grid;
    grid-template-columns: 200px auto;
    justify-items: baseline;
    gap: 10px;
}

.todoDetailsActions {
    margin-top: 20px;
    text-align: end;
}

.todoProperty {
    font-weight: 600;
    justify-self: flex-end;
}

.circle {
    height: 17px;
    width: 17px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
}